@media only screen and (max-width:1280px) {
    #main img{
        height: 100%;
        width: auto;
    }
    
    header{
        background-color: red;
    }
    
    #main .full-main{
        height: 700px;
    }
    
    .full-main figcaption{
        padding: 220px 0;
    }
    
}

@media only screen and (max-width:992px){
    *{
        font-size: 15px;
    }
    
    header{
        background-color: orange;
    }
    
    header .logo img{
        width: 150px;
        padding: 10px 0;
    }
    
    #main .full-main{
        height: 680px;
    }
    
    .full-main figcaption{
        padding: 200px 0;
    }
    
    .menu,
    .menu-login,
    .menu-logged{
        height: 100vh;
    }
    
    .menu li,
    .menu-login li,
    .menu-logged li{
        padding: 15px 0;
    }
    
    .menu li a,
    .menu-login li a,
    .menu-logged li a{
        font-size: 2em;
    }
    
    #fullback .back-contact{
        font-size: 1.5em;
        border-width: 3px;
    }
} 

@media only screen and (max-width:768px){
    *{
        /*font-size: 14px;*/
    }
    
    header{
        background-color: yellow;
    }
    
    header .logo img{
        width: 150px;
        padding: 10px 0;
    }
    
    .header-cont .text-left{
        padding-left: 0;
        font-size: 1.6em;
        padding-top: 0;
    }
    
    .header-cont .text-right{
        padding-right: 0;
        font-size: 1.6em;
        padding-top: 0;
    }
    
    #main .full-main{
        height: 600px;
    }
    
    #sucurslider>.container-fluid>.row,
    #sucurslider .slider-group-sucursal,
    #sucurslider .slider{
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    
    .full-main figcaption{
        padding: 200px 0 230px 0;
    }
    
    .full-main .main-bajada{
        font-size: 1.2em;
    }
    
    .menu li{
        padding: 10px 0;
    }
    
    .menu li a{
        font-size: 1.8em;
    }
    
    .iconteractive .benef{
        padding: 5px 0;
    }
    
    .iconteractive .par-icon{
        padding: 5px 0;
    }
    
    .plan-overlay{
        width: 91%;
    }
    
    #fullback .back-title{
        padding-bottom: 20px;    
    }
    
    #fullback .back-contact{
        font-size: 1.1em;
        border-width: 2px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .copyright{
        text-align: center;
    }
} 