@media only screen and (max-width:1280px) {
    header{
        background-color: red;
    }
    
    #main img{
        height: 100%;
        width: auto;
    }
    
    /*#main .full-main{
        height: 700px;
    }
    
    .full-main figcaption{
        padding: 250px 0;
    }*/
    
}

@media only screen and (max-width:992px){
    header{
        background-color: orange;
    }
    
    header .logo img{
        width: 100%;
        padding: 10px 0;
    }
    
    .menu{
        height: 100vh;
    }
    
    .menu li{
        padding: 15px 0;
    }
    
    .menu li a{
        font-size: 2em;
    }
} 

@media only screen and (max-width:768px){
    header{
        background-color: yellow;
    }
    
    .iconteractive .benef{
        padding: 5px 0;
    }
    
    .iconteractive .par-icon{
        padding: 5px 0;
    }
} 