@media only screen and (max-width:1280px) {
    #main img{
        height: 100%;
        width: auto;
    }
    
    #main .full-main{
        height: 700px;
    }
    
    .full-main figcaption{
        padding: 250px 0;
    }
    
}

@media only screen and (max-width:992px){
    *{
        font-size: 15px;
    }
    
    header{
        background-color: gray;
    }
    
    header .logo img{
        width: 150px;
        padding: 10px 0;
    }
    
    #main .full-main{
        height: 680px;
    }
    
    /*DD MEnu*/
    
    .dropdown-menu li a{
        padding: 20px 10px;
    }
    
    .full-main figcaption{
        padding: 220px 0;
    }
    
    .menu,
    .menu-login,
    .menu-logged{
        height: 100vh;
    }
    
    .menu li,
    .menu-login li,
    .menu-logged li{
        padding: 15px 0;
    }
    
    .menu li a,
    .menu-login li a,
    .menu-logged li a{
        font-size: 2em;
    }
    
    #fullback .back-contact{
        font-size: 1.5em;
        border-width: 3px;
    }
} 

@media only screen and (max-width:768px){
    *{
        /*font-size: 14px;*/
    }
    
    header{
        background-color: dimgray;
    }
    
    header .logo img{
        width: 150px;
        padding: 10px 0;
    }
    
    .header-cont .text-left{
        padding-left: 0;
        font-size: 1.6em;
    }
    
    .header-cont .text-right{
        padding-right: 0;
        font-size: 1.6em;
    }
    
    #main .full-main{
        height: 600px;
    }
    
    /*.wrap{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(../img/main-photo-small.jpg);
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        z-index: -1;
    }*/
    
    #sucurslider>.container-fluid>.row,
    #sucurslider .slider-group-sucursal,
    #sucurslider .slider{
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    
    .full-main figcaption{
        padding: 200px 0;
    }
    
    .full-main .main-bajada{
        font-size: 1.2em;
    }
    
    .iconteractive .benef{
        padding: 5px 0;
    }
    
    .iconteractive .par-icon{
        padding: 5px 0;
    }
    
    .plan-overlay{
        width: 91%;
    }
    
    #fullback .back-contact{
        font-size: 1em;
        border-width: 2px;
    }
    
    .copyright{
        text-align: center;
    }
} 