*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1{
    font-family: 'antonregular';
    text-transform: uppercase;
}

/**HEADER**/

header{
    background-color: #212121;
    position: fixed;    
    width: 100%;
    z-index: 10;
    height: 70px;
}


.logo{
    overflow: hidden;
}
.logo img{
    width: 200px;
}

header .login-btn,
header .menu-btn{
    color: greenyellow;
    margin-top: 14px;
    font-size: 2em;
    cursor: pointer;
}

.login-btn,
.close-btn,
.menu-btn,
.nav-option{
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    padding: 5px 0;
}

.close-btn:hover,
.login-btn:hover,
.menu-btn:hover,
.nav-option:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}


/**MENU**/
.menu{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    padding: 10px 0 6px 0;
    background-color: #B0FF00;
}

.menu a{
    color: rgba(33, 33, 33, 0.6);
    font-family: 'antonregular';
    text-transform: uppercase;
    font-size: 1.2em;
}


.menu .nav-selected a{
    color: black;
    text-decoration: underline;
}

.menu .nav-option a:hover{
    color: black;
    transition: 0.4s;
}

.menu .close-btn{
    font-size: 1.5em;
    padding: 0;
    top: 0;
    cursor: pointer;
}

.menu li{
    padding: 10px 0 6px 0;
}

.menu .close-btn{
    padding: 5px 0;
}

/**MAIN**/

#main .full-main{
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.full-main figcaption{
    width: 100%;
}

.full-main figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    color: #B0FF00;
    height: auto;
    top: 0;
    padding: 300px 0;
    text-align: center;
    z-index: 5;
}

.full-main h1{
    font-size: 4em;
}

.full-main .main-w{
    font-size: inherit;
    color: white;
}

.full-main .main-bajada{
    color: white;
    font-family: 'poppinslight';
    padding: 20px 0 0 0;
    font-size: 1.5em;
}

.full-main .social,
.rs-grid{
    padding: 40px 0 10px 0;
}

.full-main .social li a,
.rs-grid li a{
    padding: 5px 10px;
    font-size: 2em;
    color: #B0FF00;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.full-main .social li a:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

.full-main{
  -webkit-transition: 2s ease;
  transition: 2s ease;
}


/*bg-img*/
.wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -moz-transition: all 5s;
    -webkit-transition: all 5s;
    transition: all 5s;
    background-image: url(../img/main-photo-big.jpg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

#main:hover .wrap{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: opacity(90%);
    filter: opacity(90%);
}


/**CONTENT**/

.content-1{
    background-color: #3D3D3D;
    position: relative;
    padding: 30px 0;
    overflow: hidden;
}

.content-title{
    color: #B0FF00;
}

.qn-icons{
    padding: 50px 0 30px 0;
}

.qn-title{
    font-family: 'poppinslight';
    color: white;
    font-size: 1.2em;
}

.qn-icon{
    cursor: pointer;
    overflow: hidden;
}

.qn-icon img{
    width: 80%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.qn-icon img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*content 2*/
.content-2{
    background-color: #373737;
    position: relative;
    padding: 30px 0;
}

.video-grid{
    padding: 40px 0;
}

#video-container-1,
#video-container-2{
    margin: 10px 0;
}


/**convenios**/
.content-3{
    background-color: #2C2C2C;
    position: relative;
    padding: 30px 0;
}

.convenios-grid{
    padding: 20px 0;;
}

.convenio img{
    width: 100%;
}



/**INTERIOR**/

.main-int{
    position: relative;
    padding-top: 90px;
    padding-bottom: 25px;
    background-color: #212121;
}

.main-title{
    font-size: 3em;
    color: #CCFF40;
}

/*slider*/
.slider-group, .slider{
    position: relative;
    overflow: hidden;
}

.slider-group,
.slider-group-sucursal{
    padding: 30px 0;
}

.slider-group img{
    margin-right: auto;
    margin-left: auto;
}

.slider-group .qn-title,
.slider-group-sucursal .qn-title{
    color: #D8FF5A;
    font-size: 1.4em;
}

.slider-group .par-icon,
.slider-group-sucursal .par-icon{
    color: white;
    font-family: 'poppinslight';
    padding: 10px 0;
}


/**interactivecons**/

.iconteractive{
    padding: 30px 0;
}

.iconteractive figure{
    overflow: hidden;
}
.iconteractive img{
    width: 80%;
}

.iconteractive .par-icon{
    padding: 40px 0;
    color: white;
}


/*planes*/
.plan{
    position: relative;
    margin: 20px 0;
    cursor: pointer;
     -moz-transition: all .3s linear;
     -webkit-transition: all .3s linear;
     -ms-transition: all .3s linear;
     -o-transition: all .3s linear;
     transition: all .3s linear;
}

.planes-cont{
    padding: 30px 0;
    overflow: hidden;
    margin:0;
}

.plan-title{
    font-family: 'antonregular';
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 0;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:0;
}

.plan-valor{
    font-family: 'antonregular';
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 5px 0;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
}

.plan-desc{
    margin: 0;
    padding: 20px 0;
    background-color: dimgray;
}

.plan-overlay{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 60px 0;
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 100%;
    visibility: hidden;
    cursor: pointer;
}

.plan:hover .plan-overlay{
    transition: 0.4s;
    visibility: visible;
}

.plan-overlay span{
    font-size: 2em;
    color: #CCFF40;
}

.plan-overlay p{
    font-size: 1.4em;
    font-family: 'antonregular';
    text-transform: uppercase;
    color: #CCFF40;
}

.plan-detalles{
    overflow: hidden;
    padding: 20px 20px 10px 20px;
    background-color: rgba(105, 105, 105, 0.3);
    color: rgba(255, 255, 255, 0.3);
    font-weight: 200;
}

.plan-detalles ul li{
    font-size: 0.95em;
}

.slider.sucursal:first-child{
    background: url(../img/sucursal1.jpg);
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider.sucursal:nth-child(2){
    background: url(../img/sucursal2.jpg);
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider.sucursal:nth-child(3){
    background: url(../img/sucursal3.jpg);
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider.sucursal figure{
    padding: 80px 0;
}

/**content destacado**/
.content-dest{
    padding: 40px 0;
    position: relative;
    background: #D8FF5A;
}

.par-dest-1{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 1.2em;
    font-family: 'poppinsmedium';
}

.par-dest-2{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 200;
    font-family: 'poppinslight';
}

.divider{
    border: 0;
    height: 5px;
    background: #333;
    left: 15px;
}

/**testimonios**/
.slider-testimonio{
    padding: 40px 0;
    color: white;
}

.par-testimonio{
    padding: 20px 10px;
    font-size: 1.1em;
}

.par-autor{
    padding: 10px;
    color: rgba(255,255,255,0.5);
    font-weight: 200;
}

.par-autor span{
    font-weight: bold;
}

/**full image back**/
#fullback{
    padding: 40px 0;
}

#fullback .back-title{
    color: #CCFF40;
    padding: 20px 0 40px 0;
}

#fullback .back-contact{
    color: #CCFF40;
    margin-top: 40px;
    padding: 10px;
    font-size: 1.8em;
    font-family: 'poppinsmedium';
    border: 4px solid #CCFF40;
}

#fullback.franquicia-back{
    background: url(../img/fb-franquicia.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/**subfooter**/
.subfooter{
    position: relative;
    background-color: #212121;
    border-bottom: 1px solid rgba(65, 65, 65, 0.48);
    padding: 0;
}

.rs-grid li a{
    font-size: 2.5em;
    color: rgba(176, 255, 0, 0.8);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    padding: 0;
}

.rs-grid li a:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: #b0ff00;
}

/**footer**/
footer{
    position: relative;
    background-color: #212121;
    padding: 20px 0;
}

footer .copyright{
    color: white;
    font-family: 'poppinslight';
    font-weight: 100;
    font-size: 0.8em;
    padding-top: 10px;
}